@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-lg: 75rem;
  /*changing lg to 1200px */

  /* Fonts */
  --font-primary: "Inter";
  --font-code: "Fira Code";

  /* Font sizes */
  --text-*: initial;
  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 36px;

  /* Colors */
  --color-*: initial;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: #4F46E5;
  --color-secondary: #F59E0B;
  --color-dark: #242424;
  --color-light: #F5F5F5;
  --color-gray: #E5E7EB;
  --color-dark-gray: #6B7280;
  --color-orange: #FF5722;
  --color-pink: #E91E63;
  --color-indigo: #3F51B5;
}

body {
  @apply font-primary
}

/* quill editor css */

.ql-editor {
  padding: 6px 12px !important;
  @apply font-primary text-md p-0
}

/* quill fonts */
.ql-font-sans {
  font-family: Arial, Helvetica, sans-serif;
}
.ql-font-serif {
  font-family: Georgia, "Times New Roman", serif;
}
.ql-font-monospace {
  font-family: "Courier New", monospace;
}
.ql-font-roboto {
  font-family: "Roboto", sans-serif;
}
.ql-font-times-new-roman {
  font-family: "Times New Roman", serif;
}

.ql-font-inter {
  @apply font-primary
}

.section-container {
  @apply px-6 md:px-12 lg:px-36
}

h1 {
  @apply text-2xl md:text-3xl font-bold text-dark dark:text-light
}

h2 {
  @apply text-xl md:text-2xl font-bold
}

h3 {
  @apply text-lg font-bold
}

.animated-underline {
  position: relative;
  display: block;
}

.animated-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  @apply bg-primary;
  transform: scaleX(0);
  transition: transform 0.3s;
  transform-origin: left;
}

.animated-underline:hover {
  @apply text-primary
}

.animated-underline:hover::after {
  transform: scaleX(1);
}

.clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.Typewriter__cursor {
      @apply text-primary font-bold
}