@import "tailwindcss";

@theme {
  /* Fonts */
  --font-primary: "Inter";
  --font-code: "Fira Code";

  /* Font sizes */
  --text-*: initial;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 20px;
  --text-xl: 24px;
  --text-2xl: 28px;
  --text-3xl: 36px;

  /* Colors */
  --color-*: initial;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-primary: #4F46E5;
  --color-secondary: #F59E0B;
  --color-dark: #242424;
  --color-light: #F5F5F5;
  --color-gray: #E5E7EB;
  --color-text-gray: #6B7280;
}

h1 {
  @apply text-3xl font-bold text-dark
}